.loaderContainer {
  width: 20em;
  height: 1em;
  background-color: #fff0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3em;
}
.loader {
  min-width: .5em;
  width: 10%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  transform-origin: center;
  border-radius: 3em;
  animation: dash .4s cubic-bezier(1, .27, 0, .78) alternate infinite;
}
@keyframes dash {
  0% {
    width: 10%;
    height: 800%;
    left: 0%;
    right: auto;
    /* transform: scale(1.6, 2); */
  }
  50% {
    width: 100%;
    height: 100%;
    /* transform: scale(1); */
  }
  100% {
    width: 10%;
    height: 800%;
    left: auto;
    right: 0%;
    /* transform: scale(1.6, 2); */
  }
}